<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="fr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/vendors.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/components.css">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-overlay-menu.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/colors/palette-gradient.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/evaluations.css">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-overlay-menu 2-columns fixed-navbar" data-open="click" data-menu="vertical-overlay-menu" data-col="2-columns">

{% include 'User/navBar.html.twig' %}

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title">Mon Historique</h3>
                <p class="text-muted">Historique de vos formations et activités</p>
            </div>
        </div>
        
        <div class="content-body">
            <!-- Historique des Formations -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                <i class="fas fa-star text-warning"></i> 
                                Historique des Formations
                            </h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                {% if inscriptions is empty %}
                                    <div class="text-center py-4">
                                        <i class="icon-calendar font-large-2 text-muted"></i>
                                        <h5 class="mt-2">Aucune formation</h5>
                                        <p class="text-muted">Vous n'avez participé à aucune formation pour le moment.</p>
                                    </div>
                                {% else %}
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Formation</th>
                                                    <th>Session</th>
                                                    <th>Date de début</th>
                                                    <th>Date de fin</th>
                                                    <th>Lieu</th>
                                                    <th>Statut Session</th>
                                                    <th>Statut Participation</th>
                                                    <th>Date Validation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for inscription in inscriptions %}
                                                    {% set session = inscription.session %}
                                                    {% set formation = session.formation %}
                                                    <tr>
                                                        <td>
                                                            <strong>{{ formation.sujet }}</strong>
                                                        </td>
                                                        <td>{{ session.titre }}</td>
                                                        <td>{{ session.dateDebut|date('d/m/Y H:i') }}</td>
                                                        <td>{{ session.dateFin|date('d/m/Y H:i') }}</td>
                                                        <td>
                                                            {% if session.salle %}
                                                                {{ session.salle.nom }}
                                                            {% else %}
                                                                {{ session.emplacement }}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if session.status == 'en cours' %}
                                                                <span class="badge badge-warning">À valider ta inscription</span>
                                                            {% elseif session.status == 'terminé' %}
                                                                <span class="badge badge-success">Terminé</span>
                                                            {% elseif session.status == 'créée' %}
                                                                <span class="badge badge-info">Créée</span>
                                                            {% elseif session.status == 'annulée' %}
                                                                <span class="badge badge-danger">Annulée</span>
                                                            {% else %}
                                                                <span class="badge badge-secondary">{{ session.status|title }}</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if inscription.statutParticipation == 'en attente' %}
                                                                <span class="badge badge-warning">En attente</span>
                                                            {% elseif inscription.statutParticipation == 'accepté' %}
                                                                <span class="badge badge-success">Accepté</span>
                                                            {% elseif inscription.statutParticipation == 'absence de validation' %}
                                                                <span class="badge badge-danger">Absence de validation</span>
                                                            {% else %}
                                                                <span class="badge badge-secondary">{{ inscription.statutParticipation|title }}</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if inscription.dateValidation %}
                                                                {{ inscription.dateValidation|date('d/m/Y H:i') }}
                                                            {% else %}
                                                                <span class="text-muted">-</span>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Historique des Notifications -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                <i class="fas fa-star text-warning"></i> 
                                Historique des Notifications
                            </h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                {% if notifications is empty %}
                                    <div class="text-center py-4">
                                        <i class="icon-bell font-large-2 text-muted"></i>
                                        <h5 class="mt-2">Aucune notification</h5>
                                        <p class="text-muted">Vous n'avez reçu aucune notification pour le moment.</p>
                                    </div>
                                {% else %}
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Type</th>
                                                    <th>Titre</th>
                                                    <th>Message</th>
                                                    <th>Statut</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for notification in notifications %}
                                                    <tr>
                                                        <td>{{ notification.dateCreation|date('d/m/Y H:i') }}</td>
                                                        <td>
                                                            {% if notification.type == 'formation' %}
                                                                <span class="badge badge-primary">Formation</span>
                                                            {% elseif notification.type == 'inscription' %}
                                                                <span class="badge badge-success">Inscription</span>
                                                            {% elseif notification.type == 'validation' %}
                                                                <span class="badge badge-info">Validation</span>
                                                            {% elseif notification.type == 'rappel' %}
                                                                <span class="badge badge-warning">Rappel</span>
                                                            {% elseif notification.type == 'annulation' %}
                                                                <span class="badge badge-danger">Annulation</span>
                                                            {% else %}
                                                                <span class="badge badge-secondary">{{ notification.type|title }}</span>
                                                            {% endif %}
                                                        </td>
                                                        <td><strong>{{ notification.titre }}</strong></td>
                                                        <td>{{ notification.message }}</td>
                                                        <td>
                                                            {% if notification.lu %}
                                                                <span class="badge badge-success">Lu</span>
                                                            {% else %}
                                                                <span class="badge badge-warning">Non lu</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if (notification.type == 'inscription' or notification.type == 'modification' or notification.type == 'absence_automatique') and notification.session %}
                                                                {% set inscription = null %}
                                                                {% for userInscription in user.inscriptions %}
                                                                    {% if userInscription.session.id == notification.session.id %}
                                                                        {% set inscription = userInscription %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                                {% if inscription %}
                                                                    <a href="{{ path('user_inscription_details', {'id': inscription.id}) }}" class="btn btn-sm btn-outline-info">
                                                                        <i class="icon-eye"></i> Voir détails
                                                                    </a>
                                                                {% endif %}
                                                            {% elseif notification.type == 'session_terminee' and notification.session %}
                                                                {% set evaluation = null %}
                                                                {% for eval in user.evaluations %}
                                                                    {% if eval.session.id == notification.session.id %}
                                                                        {% set evaluation = eval %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                                {% if evaluation %}
                                                                    <a href="{{ path('user_session_evaluation_show', {'id': notification.session.id}) }}" class="btn btn-sm btn-outline-info">
                                                                        <i class="fas fa-eye"></i> Voir évaluation
                                                                    </a>
                                                                {% else %}
                                                                    <a href="{{ path('user_session_evaluation', {'id': notification.session.id}) }}" class="btn btn-sm btn-outline-warning">
                                                                        <i class="fas fa-star"></i> Évaluer
                                                                    </a>
                                                                {% endif %}
                                                            {% else %}
                                                                <span class="text-muted">-</span>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Historique des Évaluations -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                <i class="fas fa-star text-warning"></i> 
                                Historique des Évaluations
                            </h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                {% if evaluations is empty %}
                                    <div class="text-center py-4">
                                        <i class="icon-star font-large-2 text-muted"></i>
                                        <h5 class="mt-2">Aucune évaluation</h5>
                                        <p class="text-muted">Vous n'avez pas encore évalué de formations.</p>
                                    </div>
                                {% else %}
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Formation</th>
                                                    <th>Session</th>
                                                    <th>Note Globale</th>
                                                    <th>Clarté</th>
                                                    <th>Pertinence</th>
                                                    <th>Suggestion</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for evaluation in evaluations %}
                                                    <tr>
                                                        <td>
                                                            <strong>{{ evaluation.session.formation.sujet }}</strong>
                                                        </td>
                                                        <td>{{ evaluation.session.titre }}</td>
                                                        <td>
                                                            <div class="rating-display-inline">
                                                                {% for i in 1..5 %}
                                                                    <span class="rating-number-small {% if i <= evaluation.noteGlobale %}active{% endif %}">
                                                                        {{ i }}
                                                                    </span>
                                                                {% endfor %}
                                                                <span class="ml-2 text-muted">({{ evaluation.noteGlobale }}/5)</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="rating-display-inline">
                                                                {% for i in 1..5 %}
                                                                    <span class="rating-number-small {% if i <= evaluation.clarte %}active{% endif %}">
                                                                        {{ i }}
                                                                    </span>
                                                                {% endfor %}
                                                                <span class="ml-2 text-muted">({{ evaluation.clarte }}/5)</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="rating-display-inline">
                                                                {% for i in 1..5 %}
                                                                    <span class="rating-number-small {% if i <= evaluation.pertinence %}active{% endif %}">
                                                                        {{ i }}
                                                                    </span>
                                                                {% endfor %}
                                                                <span class="ml-2 text-muted">({{ evaluation.pertinence }}/5)</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            {% if evaluation.suggestion %}
                                                                <span class="badge badge-info" data-toggle="tooltip" title="{{ evaluation.suggestion }}">
                                                                    <i class="fas fa-comment"></i> Oui
                                                                </span>
                                                            {% else %}
                                                                <span class="badge badge-secondary">
                                                                    <i class="fas fa-minus"></i> Non
                                                                </span>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <a href="{{ path('user_session_evaluation_show', {'id': evaluation.session.id}) }}" 
                                                               class="btn btn-outline-primary btn-sm" 
                                                               title="Voir les détails">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->



<!-- BEGIN: Vendor JS-->
<script src="../../../app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="../../../app-assets/js/core/app-menu.js" type="text/javascript"></script>
<script src="../../../app-assets/js/core/app.js" type="text/javascript"></script>
<!-- END: Theme JS-->



</body>
<!-- END: Body-->

</html> 