<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="fr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/charts/jquery-jvectormap-2.0.3.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/extensions/unslider.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/weather-icons/climacons.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/components.css">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-overlay-menu.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/colors/palette-gradient.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-overlay-menu 2-columns fixed-navbar" data-open="click" data-menu="vertical-overlay-menu" data-col="2-columns">

<!-- BEGIN: Header-->
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-light navbar-border">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto">
                    <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                        <i class="ft-menu font-large-1"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="/user/">
                        <h2 class="brand-text">Espace Participant</h2>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-container content">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                            <i class="ft-menu"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav float-right">
                    <li class="nav-item dropdown dropdown-user">
                        <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                            <span class="user-name">{{ app.user.prenom }} {{ app.user.nom }}</span>
                            <i class="ft-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ path('user_formations') }}">
                                <i class="ft-book-open"></i> Mes Formations
                            </a>
                            <a class="dropdown-item" href="{{ path('user_sessions') }}">
                                <i class="ft-calendar"></i> Mes Sessions
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">
                                <i class="ft-power"></i> Déconnexion
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-header">
        <input class="main-menu-search" type="text" placeholder="Rechercher...">
        <div class="input-group">
            <div class="input-group-append">
                <i class="input-group-text">
                    <i class="ft-search"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item">
                <a href="{{ path('user_formations') }}">
                    <i class="ft-book-open"></i>
                    <span class="menu-title">Mes formations</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('user_notifications') }}">
                    <i class="ft-bell"></i>
                    <span class="menu-title">NOTIFICATIONS</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('user_historique') }}">
                    <i class="ft-clock"></i>
                    <span class="menu-title">HISTORIQUE</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('calendar_calendrier') }}">
                    <i class="ft-calendar"></i>
                    <span class="menu-title">CALENDRIER</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title">
                    <i class="fas fa-check-circle text-success"></i> 
                    Mon Évaluation - Session {{ session.titre }}
                </h3>
            </div>
        </div>
        
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <!-- En-tête de la page -->
                    <div class="text-center mb-4">
                        <h2 class="text-success">
                            <i class="fas fa-check-circle"></i> 
                            Évaluation Enregistrée avec Succès !
                        </h2>
                        <p class="text-muted">Votre évaluation a été sauvegardée</p>
                    </div>

                    <!-- Informations de la session -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                <i class="fas fa-graduation-cap text-info"></i> 
                                Détails de la Formation
                            </h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><strong>Formation :</strong> {{ formation.sujet }}</p>
                                        <p><strong>Session :</strong> {{ session.titre }}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><strong>Date :</strong> {{ session.dateDebut|date('d/m/Y') }}</p>
                                        <p><strong>Horaires :</strong> {{ session.dateDebut|date('H:i') }} - {{ session.dateFin|date('H:i') }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Résultats de l'évaluation -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                <i class="fas fa-chart-bar text-success"></i> 
                                Résultats de Mon Évaluation
                            </h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <!-- Note globale -->
                                    <div class="col-md-4 mb-3">
                                        <div class="text-center">
                                            <h6>Note Globale</h6>
                                            <div class="rating-display">
                                                {% for i in 1..5 %}
                                                    <span class="rating-number {% if i <= evaluation.noteGlobale %}active{% endif %}">
                                                        {{ i }}
                                                    </span>
                                                {% endfor %}
                                            </div>
                                            <p class="mt-2">
                                                <strong>{{ evaluation.noteGlobale }}/5</strong>
                                            </p>
                                            <small class="text-muted">
                                                {% if evaluation.noteGlobale <= 2 %}
                                                    Très insatisfait
                                                {% elseif evaluation.noteGlobale == 3 %}
                                                    Moyen
                                                {% else %}
                                                    Très satisfait
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>

                                    <!-- Clarté -->
                                    <div class="col-md-4 mb-3">
                                        <div class="text-center">
                                            <h6>Clarté du Contenu</h6>
                                            <div class="rating-display">
                                                {% for i in 1..5 %}
                                                    <span class="rating-number {% if i <= evaluation.clarte %}active{% endif %}">
                                                        {{ i }}
                                                    </span>
                                                {% endfor %}
                                            </div>
                                            <p class="mt-2">
                                                <strong>{{ evaluation.clarte }}/5</strong>
                                            </p>
                                            <small class="text-muted">
                                                {% if evaluation.clarte <= 2 %}
                                                    Pas clair
                                                {% elseif evaluation.clarte == 3 %}
                                                    Assez clair
                                                {% else %}
                                                    Très clair
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>

                                    <!-- Pertinence -->
                                    <div class="col-md-4 mb-3">
                                        <div class="text-center">
                                            <h6>Pertinence du Contenu</h6>
                                            <div class="rating-display">
                                                {% for i in 1..5 %}
                                                    <span class="rating-number {% if i <= evaluation.pertinence %}active{% endif %}">
                                                        {{ i }}
                                                    </span>
                                                {% endfor %}
                                            </div>
                                            <p class="mt-2">
                                                <strong>{{ evaluation.pertinence }}/5</strong>
                                            </p>
                                            <small class="text-muted">
                                                {% if evaluation.pertinence <= 2 %}
                                                    Pas pertinent
                                                {% elseif evaluation.pertinence == 3 %}
                                                    Assez pertinent
                                                {% else %}
                                                    Très pertinent
                                                {% endif %}
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <!-- Suggestions -->
                                {% if evaluation.suggestion %}
                                    <div class="mt-4">
                                        <h6>Mes Suggestions et Commentaires</h6>
                                        <div class="alert alert-light">
                                            <i class="fas fa-comment text-primary"></i>
                                            {{ evaluation.suggestion }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- Actions disponibles -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                <i class="fas fa-cogs text-secondary"></i> 
                                Actions Disponibles
                            </h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4 mb-2">
                                        <a href="{{ path('user_session_certificat', {'id': session.id}) }}" class="btn btn-outline-success btn-block">
                                            <i class="fas fa-certificate"></i> 
                                            Télécharger Certificat
                                        </a>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <a href="{{ path('user_session_feedback', {'id': session.id}) }}" class="btn btn-outline-warning btn-block">
                                            <i class="fas fa-comment-dots"></i> 
                                            Donner un Feedback
                                        </a>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <a href="{{ path('user_sessions') }}" class="btn btn-outline-primary btn-block">
                                            <i class="fas fa-arrow-left"></i> 
                                            Retour aux Sessions
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->

<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light navbar-border navbar-shadow">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2024 <a class="text-bold-800 grey darken-2" href="#" target="_blank">Formation Manager</a>, All rights reserved. </span>
        <span class="float-md-right d-none d-lg-block">Espace Participant <i class="icon-heart5 pink"></i></span>
    </p>
</footer>
<!-- END: Footer-->

<!-- BEGIN: Vendor JS-->
<script src="../../../app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="../../../app-assets/vendors/js/charts/chart.min.js" type="text/javascript"></script>
<script src="../../../app-assets/vendors/js/charts/raphael-min.js" type="text/javascript"></script>
<script src="../../../app-assets/vendors/js/charts/morris.min.js" type="text/javascript"></script>
<script src="../../../app-assets/vendors/js/charts/jvector-map/jquery-jvectormap-2.0.3.min.js" type="text/javascript"></script>
<script src="../../../app-assets/vendors/js/charts/jvector-map/jquery-jvectormap-world-mill.js" type="text/javascript"></script>
<script src="../../../app-assets/vendors/js/charts/knob/jquery.knob.min.js" type="text/javascript"></script>
<script src="../../../app-assets/vendors/js/charts/knob/jquery.appear.min.js" type="text/javascript"></script>
<script src="../../../app-assets/vendors/js/charts/knob/knob.js" type="text/javascript"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="../../../app-assets/js/core/app-menu.js" type="text/javascript"></script>
<script src="../../../app-assets/js/core/app.js" type="text/javascript"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="../../../app-assets/js/scripts/pages/dashboard-analytics.js" type="text/javascript"></script>
<!-- END: Page JS-->

<!-- Styles pour l'affichage des notes -->
<style>
.rating-display {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 10px 0;
}

.rating-number {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: #e9ecef;
    color: #6c757d;
    font-weight: bold;
    font-size: 14px;
}

.rating-number.active {
    background-color: #28a745;
    color: white;
}

.btn-block {
    width: 100%;
}
</style>

</body>
<!-- END: Body-->

</html>